In [23]:
import pandas as pd

query = 'select \
P.Player_api_id as player_api_id \
,P.player_name as player_name \
,PA.date as rating_date \
,PA.penalties as penalties \
from Player as P \
inner join Player_Attributes as PA \
on P.player_api_id = PA.player_api_id'

print(query)

select P.Player_api_id as player_api_id ,P.player_name as player_name ,PA.date as rating_date ,PA.penalties as penalties from Player as P inner join Player_Attributes as PA on P.player_api_id = PA.player_api_id

In [24]:
import sqlite3 as db

conn = db.connect("database.sqlite")
df = pd.read_sql_query(query, conn)
df.head(5)

   player_api_id         player_name          rating_date  penalties
0         505942  Aaron Appindangoye  2016-02-18 00:00:00       48.0
1         505942  Aaron Appindangoye  2015-11-19 00:00:00       48.0
2         505942  Aaron Appindangoye  2015-09-21 00:00:00       48.0
3         505942  Aaron Appindangoye  2015-03-20 00:00:00       47.0
4         505942  Aaron Appindangoye  2007-02-22 00:00:00       47.0

In [25]:
df.columns.values

array(['player_api_id', 'player_name', 'rating_date', 'penalties'],
      dtype=object)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 4 columns):
player_api_id    183978 non-null int64
player_name      183978 non-null object
rating_date      183978 non-null object
penalties        183142 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.6+ MB

In [34]:
df['rating_date'] = pd.to_datetime( df['rating_date'])
df.dropna(inplace=True)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183142 entries, 0 to 183977
Data columns (total 4 columns):
player_api_id    183142 non-null int64
player_name      183142 non-null object
rating_date      183142 non-null datetime64[ns]
penalties        183142 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 7.0+ MB

In [36]:
sum(df.duplicated())

0

In [39]:
df['rating_year'] = pd.DatetimeIndex(df['rating_date']).year
df

        player_api_id          player_name rating_date  penalties  rating_year
0              505942   Aaron Appindangoye  2016-02-18       48.0         2016
1              505942   Aaron Appindangoye  2015-11-19       48.0         2015
2              505942   Aaron Appindangoye  2015-09-21       48.0         2015
3              505942   Aaron Appindangoye  2015-03-20       47.0         2015
4              505942   Aaron Appindangoye  2007-02-22       47.0         2007
5              155782      Aaron Cresswell  2016-04-21       59.0         2016
6              155782      Aaron Cresswell  2016-04-07       59.0         2016
7              155782      Aaron Cresswell  2016-01-07       59.0         2016
8              155782      Aaron Cresswell  2015-12-24       59.0         2015
9              155782      Aaron Cresswell  2015-12-17       59.0         2015
10             155782      Aaron Cresswell  2015-10-16       59.0         2015
11             155782      Aaron Cresswell  2015-09-25       59.0         2015
12             155782      Aaron Cresswell  2015-09-21       59.0         2015
13             155782      Aaron Cresswell  2015-01-09       58.0         2015
14             155782      Aaron Cresswell  2014-12-05       58.0         2014
15             155782      Aaron Cresswell  2014-11-07       58.0         2014
16             155782      Aaron Cresswell  2014-09-18       58.0         2014
17             155782      Aaron Cresswell  2014-05-02       58.0         2014
18             155782      Aaron Cresswell  2014-04-04       58.0         2014
19             155782      Aaron Cresswell  2014-03-14       58.0         2014
20             155782      Aaron Cresswell  2013-12-13       58.0         2013
21             155782      Aaron Cresswell  2013-11-08       58.0         2013
22             155782      Aaron Cresswell  2013-10-04       58.0         2013
23             155782      Aaron Cresswell  2013-09-20       58.0         2013
24             155782      Aaron Cresswell  2013-05-03       58.0         2013
25             155782      Aaron Cresswell  2013-03-22       58.0         2013
26             155782      Aaron Cresswell  2013-03-15       58.0         2013
27             155782      Aaron Cresswell  2013-02-22       58.0         2013
28             155782      Aaron Cresswell  2013-02-15       58.0         2013
29             155782      Aaron Cresswell  2012-08-31       58.0         2012
...               ...                  ...         ...        ...          ...
183948         111182         Zsolt Laczko  2012-02-22       53.0         2012
183949         111182         Zsolt Laczko  2011-08-30       53.0         2011
183950         111182         Zsolt Laczko  2011-02-22       53.0         2011
183951         111182         Zsolt Laczko  2010-08-30       44.0         2010
183952         111182         Zsolt Laczko  2007-02-22       44.0         2007
183953          36491            Zsolt Low  2011-02-22       61.0         2011
183954          36491            Zsolt Low  2010-08-30       61.0         2010
183955          36491            Zsolt Low  2009-08-30       61.0         2009
183956          36491            Zsolt Low  2009-02-22       61.0         2009
183957          36491            Zsolt Low  2008-08-30       61.0         2008
183958          36491            Zsolt Low  2007-08-30       61.0         2007
183959          36491            Zsolt Low  2007-02-22       61.0         2007
183960          35506  Zurab Khizanishvili  2011-02-22       45.0         2011
183961          35506  Zurab Khizanishvili  2010-08-30       45.0         2010
183962          35506  Zurab Khizanishvili  2010-02-22       70.0         2010
183963          35506  Zurab Khizanishvili  2009-08-30       70.0         2009
183964          35506  Zurab Khizanishvili  2009-02-22       70.0         2009
183965          35506  Zurab Khizanishvili  2008-08-30       70.0         2008
183966          35506  Zurab Khizanishvili  2007-08-30       70.0         2007
183967          35506  Zurab Khizanishvili  2007-02-22       72.0         2007
183968          39902   Zvjezdan Misimovic  2012-08-31       78.0         2012
183969          39902   Zvjezdan Misimovic  2012-02-22       78.0         2012
183970          39902   Zvjezdan Misimovic  2011-08-30       78.0         2011
183971          39902   Zvjezdan Misimovic  2011-02-22       73.0         2011
183972          39902   Zvjezdan Misimovic  2010-08-30       73.0         2010
183973          39902   Zvjezdan Misimovic  2009-08-30       83.0         2009
183974          39902   Zvjezdan Misimovic  2009-02-22       70.0         2009
183975          39902   Zvjezdan Misimovic  2008-08-30       70.0         2008
183976          39902   Zvjezdan Misimovic  2007-08-30       53.0         2007
183977          39902   Zvjezdan Misimovic  2007-02-22       53.0         2007

[183142 rows x 5 columns]

In [45]:
df['Ranking'] = df.sort_values(['player_api_id','rating_date'], ascending=[True,False]) \
                  .groupby(['player_api_id','rating_year']) \
                  .cumcount() + 1
df

,player_api_id,player_name,rating_date,penalties,rating_year,Ranking
0,505942,Aaron Appindangoye,2016-02-18,48.0,2016,1
1,505942,Aaron Appindangoye,2015-11-19,48.0,2015,1
2,505942,Aaron Appindangoye,2015-09-21,48.0,2015,2
3,505942,Aaron Appindangoye,2015-03-20,47.0,2015,3
4,505942,Aaron Appindangoye,2007-02-22,47.0,2007,1
5,155782,Aaron Cresswell,2016-04-21,59.0,2016,1
6,155782,Aaron Cresswell,2016-04-07,59.0,2016,2
7,155782,Aaron Cresswell,2016-01-07,59.0,2016,3
8,155782,Aaron Cresswell,2015-12-24,59.0,2015,1
9,155782,Aaron Cresswell,2015-12-17,59.0,2015,2
10,155782,Aaron Cresswell,2015-10-16,59.0,2015,3
11,155782,Aaron Cresswell,2015-09-25,59.0,2015,4
12,155782,Aaron Cresswell,2015-09-21,59.0,2015,5
13,155782,Aaron Cresswell,2015-01-09,58.0,2015,6
14,155782,Aaron Cresswell,2014-12-05,58.0,2014,1
15,155782,Aaron Cresswell,2014-11-07,58.0,2014,2
16,155782,Aaron Cresswell,2014-09-18,58.0,2014,3
17,155782,Aaron Cresswell,2014-05-02,58.0,2014,4
18,155782,Aaron Cresswell,2014-04-04,58.0,2014,5
19,155782,Aaron Cresswell,2014-03-14,58.0,2014,6
20,155782,Aaron Cresswell,2013-12-13,58.0,2013,1
21,155782,Aaron Cresswell,2013-11-08,58.0,2013,2
22,155782,Aaron Cresswell,2013-10-04,58.0,2013,3
23,155782,Aaron Cresswell,2013-09-20,58.0,2013,4
24,155782,Aaron Cresswell,2013-05-03,58.0,2013,5
25,155782,Aaron Cresswell,2013-03-22,58.0,2013,6
26,155782,Aaron Cresswell,2013-03-15,58.0,2013,7
27,155782,Aaron Cresswell,2013-02-22,58.0,2013,8
28,155782,Aaron Cresswell,2013-02-15,58.0,2013,9
29,155782,Aaron Cresswell,2012-08-31,58.0,2012,1
...,...,...,...,...,...,...
183948,111182,Zsolt Laczko,2012-02-22,53.0,2012,2
183949,111182,Zsolt Laczko,2011-08-30,53.0,2011,1
183950,111182,Zsolt Laczko,2011-02-22,53.0,2011,2
183951,111182,Zsolt Laczko,2010-08-30,44.0,2010,1
183952,111182,Zsolt Laczko,2007-02-22,44.0,2007,1
183953,36491,Zsolt Low,2011-02-22,61.0,2011,1
183954,36491,Zsolt Low,2010-08-30,61.0,2010,1
183955,36491,Zsolt Low,2009-08-30,61.0,2009,1
183956,36491,Zsolt Low,2009-02-22,61.0,2009,2
183957,36491,Zsolt Low,2008-08-30,61.0,2008,1
183958,36491,Zsolt Low,2007-08-30,61.0,2007,1
183959,36491,Zsolt Low,2007-02-22,61.0,2007,2
183960,35506,Zurab Khizanishvili,2011-02-22,45.0,2011,1
183961,35506,Zurab Khizanishvili,2010-08-30,45.0,2010,1
183962,35506,Zurab Khizanishvili,2010-02-22,70.0,2010,2
183963,35506,Zurab Khizanishvili,2009-08-30,70.0,2009,1
183964,35506,Zurab Khizanishvili,2009-02-22,70.0,2009,2
183965,35506,Zurab Khizanishvili,2008-08-30,70.0,2008,1
183966,35506,Zurab Khizanishvili,2007-08-30,70.0,2007,1
183967,35506,Zurab Khizanishvili,2007-02-22,72.0,2007,2
183968,39902,Zvjezdan Misimovic,2012-08-31,78.0,2012,1
183969,39902,Zvjezdan Misimovic,2012-02-22,78.0,2012,2
183970,39902,Zvjezdan Misimovic,2011-08-30,78.0,2011,1
183971,39902,Zvjezdan Misimovic,2011-02-22,73.0,2011,2
183972,39902,Zvjezdan Misimovic,2010-08-30,73.0,2010,1
183973,39902,Zvjezdan Misimovic,2009-08-30,83.0,2009,1
183974,39902,Zvjezdan Misimovic,2009-02-22,70.0,2009,2
183975,39902,Zvjezdan Misimovic,2008-08-30,70.0,2008,1
183976,39902,Zvjezdan Misimovic,2007-08-30,53.0,2007,1
183977,39902,Zvjezdan Misimovic,2007-02-22,53.0,2007,2

In [47]:
#calculate average penalties for each player for every year
avg_penalties_per_player_per_year = df.groupby(['player_api_id','rating_year']).mean().reset_index()
avg_penalties_per_player_per_year

       player_api_id  rating_year  penalties  Ranking
0               2625         2007  46.000000      1.5
1               2625         2008  46.000000      1.0
2               2625         2010  69.000000      1.0
3               2625         2011  66.000000      1.5
4               2625         2012  66.000000      1.5
5               2625         2013  66.000000      2.0
6               2625         2014  66.000000      1.5
7               2625         2015  66.000000      1.0
8               2752         2007  35.000000      1.5
9               2752         2008  35.000000      1.0
10              2752         2010  35.000000      1.0
11              2752         2011  35.000000      1.0
12              2752         2012  35.000000      1.5
13              2752         2013  35.000000      4.5
14              2752         2014  35.500000      1.5
15              2752         2015  37.000000      2.5
16              2768         2007  63.000000      1.0
17              2768         2008  63.000000      1.0
18              2768         2009  63.000000      1.5
19              2768         2010  38.000000      1.5
20              2768         2011  13.000000      1.5
21              2768         2012  13.000000      1.5
22              2768         2013  37.000000      3.0
23              2768         2014  25.000000      1.0
24              2768         2015  16.000000      2.0
25              2768         2016  16.000000      1.5
26              2770         2007  45.000000      1.5
27              2770         2008  45.000000      1.0
28              2770         2009  64.000000      1.0
29              2770         2010  68.000000      1.5
...              ...          ...        ...      ...
73029         725718         2007  55.000000      1.0
73030         725718         2016  55.000000      1.5
73031         726956         2007  64.000000      1.0
73032         726956         2016  64.000000      2.0
73033         728125         2007  38.000000      1.0
73034         728125         2016  38.000000      2.0
73035         728414         2007  35.000000      1.0
73036         728414         2016  35.000000      2.0
73037         728478         2007  52.000000      1.0
73038         728478         2016  52.000000      2.5
73039         730065         2007  59.000000      1.0
73040         730065         2016  59.000000      1.0
73041         733787         2007  40.000000      1.0
73042         733787         2016  40.000000      2.0
73043         742405         2007  42.000000      1.0
73044         742405         2016  42.000000      1.0
73045         743720         2007  40.000000      1.0
73046         743720         2016  40.000000      2.0
73047         744907         2007  52.000000      1.0
73048         744907         2015  52.285714      4.0
73049         744907         2016  53.000000      2.0
73050         746419         2007  43.000000      1.0
73051         746419         2016  43.000000      1.0
73052         748432         2007  45.000000      1.0
73053         748432         2016  45.000000      1.0
73054         750435         2007  61.000000      1.0
73055         750435         2015  61.000000      3.0
73056         750435         2016  61.000000      2.0
73057         750584         2007  52.000000      1.0
73058         750584         2016  52.000000      1.0

[73059 rows x 4 columns]

In [89]:
#identify players who been rated atleast for last 5 years (2011 - 2016)

max_year =  avg_penalties_per_player_per_year['rating_year'].max() 
print(max_year.dtype)
start_year = max_year - 5

avg_penalties_per_player_per_year = avg_penalties_per_player_per_year[ ((avg_penalties_per_player_per_year['rating_year'] >= start_year) \
                & (avg_penalties_per_player_per_year['rating_year'] <= max_year)) ]

avg_penalties_per_player_per_year

#calculate penalties average for all players for all years

avg_penalties_per_player_for_all_years = avg_penalties_per_player_per_year.groupby(['player_api_id']).mean().reset_index()
interested_cols =  avg_penalties_per_player_for_all_years.iloc[:, [0,2]] 
player_with_high_penalties_rating = interested_cols.sort_values(by='penalties', ascending=False).head(1).iloc[0,[0]]
player_id =  player_with_high_penalties_rating.mean()

int64

In [90]:
df[ df['player_api_id'] == player_id]
#player_with_high_penalties_rating.dtype

       player_api_id  player_name rating_date  penalties  rating_year  Ranking
40699          30909  David Villa  2016-05-19       92.0         2016        1
40700          30909  David Villa  2016-01-21       92.0         2016        2
40701          30909  David Villa  2015-10-02       92.0         2015        1
40702          30909  David Villa  2015-08-14       92.0         2015        2
40703          30909  David Villa  2015-04-10       92.0         2015        3
40704          30909  David Villa  2015-03-10       92.0         2015        4
40705          30909  David Villa  2014-09-18       92.0         2014        1
40706          30909  David Villa  2014-02-28       92.0         2014        2
40707          30909  David Villa  2014-02-14       92.0         2014        3
40708          30909  David Villa  2014-01-24       92.0         2014        4
40709          30909  David Villa  2013-09-27       92.0         2013        1
40710          30909  David Villa  2013-09-20       92.0         2013        2
40711          30909  David Villa  2013-02-15       91.0         2013        3
40712          30909  David Villa  2012-08-31       92.0         2012        1
40713          30909  David Villa  2012-02-22       92.0         2012        2
40714          30909  David Villa  2011-08-30       92.0         2011        1
40715          30909  David Villa  2011-02-22       92.0         2011        2
40716          30909  David Villa  2010-08-30       92.0         2010        1
40717          30909  David Villa  2010-02-22       86.0         2010        2
40718          30909  David Villa  2009-08-30       86.0         2009        1
40719          30909  David Villa  2009-02-22       86.0         2009        2
40720          30909  David Villa  2008-08-30       79.0         2008        1
40721          30909  David Villa  2007-08-30       79.0         2007        1
40722          30909  David Villa  2007-02-22       69.0         2007        2