In [1]:
import xml.etree.ElementTree as ET

rootStr = '<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>3</elapsed><subtype>blocked_shot</subtype><player1>24154</player1><sortorder>0</sortorder><team>10260</team><n>253</n><type>shoton</type><id>378828</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>154</event_incident_typefk><elapsed>7</elapsed><subtype>header</subtype><player1>24157</player1><sortorder>2</sortorder><team>10260</team><n>258</n><type>shoton</type><id>378866</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>14</elapsed><subtype>shot</subtype><player1>30829</player1><sortorder>1</sortorder><team>10260</team><n>274</n><type>shoton</type><id>378922</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>14</elapsed><subtype>shot</subtype><player1>30373</player1><sortorder>2</sortorder><team>10260</team><n>279</n><type>shoton</type><id>378923</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>17</elapsed><subtype>distance</subtype><player1>30373</player1><sortorder>3</sortorder><team>10260</team><n>272</n><type>shoton</type><id>378951</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>43</elapsed><subtype>blocked_shot</subtype><player1>24154</player1><sortorder>0</sortorder><team>10260</team><n>296</n><type>shoton</type><id>379204</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>50</elapsed><subtype>distance</subtype><player1>37799</player1><sortorder>0</sortorder><team>10261</team><n>302</n><type>shoton</type><id>379363</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>149</event_incident_typefk><elapsed>58</elapsed><subtype>distance</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>310</n><type>shoton</type><id>379401</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>58</elapsed><subtype>blocked_shot</subtype><player1>24157</player1><sortorder>4</sortorder><team>10260</team><n>311</n><type>shoton</type><id>379406</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>60</elapsed><subtype>blocked_shot</subtype><player1>30829</player1><sortorder>0</sortorder><team>10260</team><n>314</n><type>shoton</type><id>379414</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><elapsed>64</elapsed><subtype>header</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>319</n><type>shoton</type><id>379426</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>75</elapsed><subtype>blocked_shot</subtype><player1>30829</player1><sortorder>5</sortorder><team>10260</team><n>338</n><type>shoton</type><id>379466</id></value></shoton>'

rootStr

'<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>3</elapsed><subtype>blocked_shot</subtype><player1>24154</player1><sortorder>0</sortorder><team>10260</team><n>253</n><type>shoton</type><id>378828</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>154</event_incident_typefk><elapsed>7</elapsed><subtype>header</subtype><player1>24157</player1><sortorder>2</sortorder><team>10260</team><n>258</n><type>shoton</type><id>378866</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>14</elapsed><subtype>shot</subtype><player1>30829</player1><sortorder>1</sortorder><team>10260</team><n>274</n><type>shoton</type><id>378922</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><elapsed>14</elapsed><subtype>shot</subtype><player1>30373</player1><sortorder>2</sortorder><team>10260</team><n>279</n><type>shoton</type><id>378923</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>17</elapsed><subtype>distance</subtype><player1>30373</player1><sortorder>3</sortorder><team>10260</team><n>272</n><type>shoton</type><id>378951</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>43</elapsed><subtype>blocked_shot</subtype><player1>24154</player1><sortorder>0</sortorder><team>10260</team><n>296</n><type>shoton</type><id>379204</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><elapsed>50</elapsed><subtype>distance</subtype><player1>37799</player1><sortorder>0</sortorder><team>10261</team><n>302</n><type>shoton</type><id>379363</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>149</event_incident_typefk><elapsed>58</elapsed><subtype>distance</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>310</n><type>shoton</type><id>379401</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>58</elapsed><subtype>blocked_shot</subtype><player1>24157</player1><sortorder>4</sortorder><team>10260</team><n>311</n><type>shoton</type><id>379406</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>60</elapsed><subtype>blocked_shot</subtype><player1>30829</player1><sortorder>0</sortorder><team>10260</team><n>314</n><type>shoton</type><id>379414</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><elapsed>64</elapsed><subtype>header</subtype><player1>24157</player1><sortorder>0</sortorder><team>10260</team><n>319</n><type>shoton</type><id>379426</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><elapsed>75</elapsed><subtype>blocked_shot</subtype><player1>30829</player1><sortorder>5</sortorder><team>10260</team><n>338</n><type>shoton</type><id>379466</id></value></shoton>'

In [3]:
#Source: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

import pandas as pd

class XML2DataFrame:

    def __init__(self, xml_data):
        self.root = ET.XML(xml_data)

    def parse_root(self, root):
        return [self.parse_element(child) for child in iter(root)]

    def parse_element(self, element, parsed=None):
        if parsed is None:
            parsed = dict()
        for key in element.keys():
            parsed[key] = element.attrib.get(key)
        if element.text:
            parsed[element.tag] = element.text
        for child in list(element):
            self.parse_element(child, parsed)
        return parsed

    def process_data(self):
        structure_data = self.parse_root(self.root)
        return pd.DataFrame(structure_data)

xml2df = XML2DataFrame(rootStr)
xml_dataframe = xml2df.process_data()

In [4]:
xml_dataframe

,blocked,elapsed,event_incident_typefk,id,n,player1,shoton,sortorder,subtype,team,type
0,1,3,61,378828,253,24154,NaN,0,blocked_shot,10260,shoton
1,NaN,7,154,378866,258,24157,1,2,header,10260,shoton
2,NaN,14,153,378922,274,30829,1,1,shot,10260,shoton
3,NaN,14,153,378923,279,30373,1,2,shot,10260,shoton
4,NaN,17,137,378951,272,30373,1,3,distance,10260,shoton
5,1,43,61,379204,296,24154,NaN,0,blocked_shot,10260,shoton
6,NaN,50,137,379363,302,37799,1,0,distance,10261,shoton
7,NaN,58,149,379401,310,24157,1,0,distance,10260,shoton
8,1,58,61,379406,311,24157,NaN,4,blocked_shot,10260,shoton
9,1,60,61,379414,314,30829,NaN,0,blocked_shot,10260,shoton
10,NaN,64,136,379426,319,24157,1,0,header,10260,shoton
11,1,75,61,379466,338,30829,NaN,5,blocked_shot,10260,shoton

In [5]:
foulrootStr = '<foulcommit><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>1</elapsed><player2>31921</player2><subtype>pushing</subtype><player1>35327</player1><sortorder>1</sortorder><team>8528</team><n>238</n><type>foulcommit</type><id>548719</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><elapsed>3</elapsed><player2>46403</player2><subtype>serious_foul</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>251</n><type>foulcommit</type><id>548727</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>3</event_incident_typefk><elapsed>3</elapsed><subtype>hands</subtype><player1>46403</player1><sortorder>1</sortorder><team>8586</team><n>245</n><type>foulcommit</type><id>548728</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>9</elapsed><player2>30348</player2><subtype>pushing</subtype><player1>24230</player1><sortorder>0</sortorder><team>8528</team><n>246</n><type>foulcommit</type><id>548735</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>14</elapsed><player2>31097</player2><subtype>pushing</subtype><player1>111865</player1><sortorder>2</sortorder><team>8528</team><n>236</n><type>foulcommit</type><id>548751</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>17</elapsed><player2>127857</player2><subtype>pushing</subtype><player1>46403</player1><sortorder>0</sortorder><team>8586</team><n>250</n><type>foulcommit</type><id>548756</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>18</elapsed><player2>127857</player2><subtype>pushing</subtype><player1>46403</player1><sortorder>0</sortorder><team>8586</team><n>257</n><type>foulcommit</type><id>548759</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>24</elapsed><player2>127857</player2><subtype>pushing</subtype><player1>46403</player1><sortorder>1</sortorder><team>8586</team><n>266</n><type>foulcommit</type><id>548777</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>27</elapsed><player2>25421</player2><subtype>pushing</subtype><player1>35327</player1><sortorder>1</sortorder><team>8528</team><n>261</n><type>foulcommit</type><id>548784</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>32</elapsed><player2>97988</player2><player1>34182</player1><sortorder>0</sortorder><team>8586</team><n>235</n><type>foulcommit</type><id>548812</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><elapsed>33</elapsed><player2>35327</player2><subtype>serious_foul</subtype><player1>31921</player1><sortorder>0</sortorder><team>8586</team><n>284</n><type>foulcommit</type><id>548824</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>42</elapsed><player2>34466</player2><subtype>pushing</subtype><player1>25421</player1><sortorder>0</sortorder><team>8586</team><n>302</n><type>foulcommit</type><id>548900</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>18</event_incident_typefk><elapsed>44</elapsed><player2>111865</player2><subtype>shirt_pull</subtype><player1>40755</player1><sortorder>4</sortorder><team>8586</team><n>303</n><type>foulcommit</type><id>548920</id></value><value><stats><foulscommitted>1</foulscommitted></stats><elapsed_plus>1</elapsed_plus><event_incident_typefk>320</event_incident_typefk><elapsed>45</elapsed><player2>127857</player2><subtype>pushing</subtype><player1>38697</player1><sortorder>0</sortorder><team>8586</team><n>288</n><type>foulcommit</type><id>548931</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>48</elapsed><player2>34987</player2><player1>31097</player1><sortorder>0</sortorder><team>8586</team><n>270</n><type>foulcommit</type><id>549021</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>56</elapsed><player2>24531</player2><player1>127857</player1><sortorder>0</sortorder><team>8528</team><n>280</n><type>foulcommit</type><id>549075</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>59</elapsed><player2>23949</player2><subtype>pushing</subtype><player1>25005</player1><sortorder>1</sortorder><team>8528</team><n>309</n><type>foulcommit</type><id>549098</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>19</event_incident_typefk><elapsed>69</elapsed><player2>34182</player2><subtype>from_behind</subtype><player1>97988</player1><sortorder>0</sortorder><team>8528</team><n>314</n><type>foulcommit</type><id>549146</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><elapsed>72</elapsed><player2>97988</player2><subtype>serious_foul</subtype><player1>34182</player1><sortorder>0</sortorder><team>8586</team><n>313</n><type>foulcommit</type><id>549159</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>3</event_incident_typefk><elapsed>74</elapsed><subtype>hands</subtype><player1>97988</player1><sortorder>0</sortorder><team>8528</team><n>295</n><type>foulcommit</type><id>549166</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><elapsed>75</elapsed><player2>34466</player2><subtype>serious_foul</subtype><player1>38697</player1><sortorder>0</sortorder><team>8586</team><n>282</n><type>foulcommit</type><id>549169</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><elapsed>81</elapsed><player2>23949</player2><subtype>serious_foul</subtype><player1>25005</player1><sortorder>1</sortorder><team>8528</team><n>327</n><type>foulcommit</type><id>549194</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>82</elapsed><player2>127857</player2><player1>30895</player1><sortorder>2</sortorder><team>8586</team><n>321</n><type>foulcommit</type><id>549201</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><elapsed>83</elapsed><player2>34466</player2><subtype>pushing</subtype><player1>30354</player1><sortorder>0</sortorder><team>8586</team><n>323</n><type>foulcommit</type><id>549205</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>84</elapsed><player2>46403</player2><player1>24890</player1><sortorder>1</sortorder><team>8528</team><n>294</n><type>foulcommit</type><id>549213</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>37</event_incident_typefk><elapsed>87</elapsed><player2>34987</player2><player1>25421</player1><sortorder>2</sortorder><team>8586</team><n>296</n><type>foulcommit</type><id>549242</id></value></foulcommit>'


xml2df = XML2DataFrame(foulrootStr)
xml_dataframe = xml2df.process_data()

xml_dataframe

,elapsed,elapsed_plus,event_incident_typefk,foulscommitted,id,n,player1,player2,sortorder,subtype,team,type
0,1,NaN,320,1,548719,238,35327,31921,1,pushing,8528,foulcommit
1,3,NaN,5,1,548727,251,24890,46403,0,serious_foul,8528,foulcommit
2,3,NaN,3,1,548728,245,46403,NaN,1,hands,8586,foulcommit
3,9,NaN,320,1,548735,246,24230,30348,0,pushing,8528,foulcommit
4,14,NaN,320,1,548751,236,111865,31097,2,pushing,8528,foulcommit
5,17,NaN,320,1,548756,250,46403,127857,0,pushing,8586,foulcommit
6,18,NaN,320,1,548759,257,46403,127857,0,pushing,8586,foulcommit
7,24,NaN,320,1,548777,266,46403,127857,1,pushing,8586,foulcommit
8,27,NaN,320,1,548784,261,35327,25421,1,pushing,8528,foulcommit
9,32,NaN,37,1,548812,235,34182,97988,0,NaN,8586,foulcommit
10,33,NaN,5,1,548824,284,31921,35327,0,serious_foul,8586,foulcommit
11,42,NaN,320,1,548900,302,25421,34466,0,pushing,8586,foulcommit
12,44,NaN,18,1,548920,303,40755,111865,4,shirt_pull,8586,foulcommit
13,45,1,320,1,548931,288,38697,127857,0,pushing,8586,foulcommit
14,48,NaN,37,1,549021,270,31097,34987,0,NaN,8586,foulcommit
15,56,NaN,37,1,549075,280,127857,24531,0,NaN,8528,foulcommit
16,59,NaN,320,1,549098,309,25005,23949,1,pushing,8528,foulcommit
17,69,NaN,19,1,549146,314,97988,34182,0,from_behind,8528,foulcommit
18,72,NaN,5,1,549159,313,34182,97988,0,serious_foul,8586,foulcommit
19,74,NaN,3,1,549166,295,97988,NaN,0,hands,8528,foulcommit
20,75,NaN,5,1,549169,282,38697,34466,0,serious_foul,8586,foulcommit
21,81,NaN,5,1,549194,327,25005,23949,1,serious_foul,8528,foulcommit
22,82,NaN,37,1,549201,321,30895,127857,2,NaN,8586,foulcommit
23,83,NaN,320,1,549205,323,30354,34466,0,pushing,8586,foulcommit
24,84,NaN,37,1,549213,294,24890,46403,1,NaN,8528,foulcommit
25,87,NaN,37,1,549242,296,25421,34987,2,NaN,8586,foulcommit

In [18]:
cardXmlStr = '<card><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>73</event_incident_typefk><elapsed>19</elapsed><card_type>y</card_type><subtype>serious_fouls</subtype><player1>34947</player1><sortorder>0</sortorder><team>8655</team><n>244</n><type>card</type><id>467115</id></value><value><comment>y2</comment><stats><rcards>1</rcards></stats><event_incident_typefk>202</event_incident_typefk><elapsed>36</elapsed><card_type>y2</card_type><subtype>hands</subtype><player1>34947</player1><sortorder>0</sortorder><team>8655</team><n>264</n><type>card</type><id>467348</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>79</event_incident_typefk><elapsed>40</elapsed><card_type>y</card_type><subtype>verbal_abuse</subtype><player1>42594</player1><sortorder>0</sortorder><team>8659</team><n>267</n><type>card</type><id>467413</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>73</event_incident_typefk><elapsed>68</elapsed><card_type>y</card_type><subtype>serious_fouls</subtype><player1>31731</player1><sortorder>2</sortorder><team>8659</team><n>303</n><type>card</type><id>468026</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>73</event_incident_typefk><elapsed>79</elapsed><card_type>y</card_type><subtype>serious_fouls</subtype><player1>38433</player1><sortorder>2</sortorder><team>8659</team><n>315</n><type>card</type><id>468204</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><elapsed_plus>2</elapsed_plus><event_incident_typefk>73</event_incident_typefk><elapsed>90</elapsed><card_type>y</card_type><subtype>serious_fouls</subtype><player1>35506</player1><sortorder>4</sortorder><team>8655</team><n>327</n><type>card</type><id>468394</id></value></card>'


xml2df = XML2DataFrame(cardXmlStr)
xml_dataframe = xml2df.process_data()
xml_dataframe
#print(xml_dataframe)
#print(xml_dataframe.groupby(['team','ycards']).count()['id'].reset_index())
#print(xml_dataframe.groupby(['team','rcards']).count()['id'].reset_index())

,card_type,comment,elapsed,elapsed_plus,event_incident_typefk,id,n,player1,rcards,sortorder,subtype,team,type,ycards
0,y,y,19,NaN,73,467115,244,34947,NaN,0,serious_fouls,8655,card,1
1,y2,y2,36,NaN,202,467348,264,34947,1,0,hands,8655,card,NaN
2,y,y,40,NaN,79,467413,267,42594,NaN,0,verbal_abuse,8659,card,1
3,y,y,68,NaN,73,468026,303,31731,NaN,2,serious_fouls,8659,card,1
4,y,y,79,NaN,73,468204,315,38433,NaN,2,serious_fouls,8659,card,1
5,y,y,90,2,73,468394,327,35506,NaN,4,serious_fouls,8655,card,1

In [6]:
ySeries = pd.Series([None, None])
rSeries = pd.Series([None, None])

print(ySeries)
print(rSeries)
print(pd.Series(ySeries, rSeries))

0    None
1    None
dtype: object
0    None
1    None
dtype: object
NaN    NaN
NaN    NaN
dtype: object

In [16]:
shotoffxmlStr = '<shotoff><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><elapsed>10</elapsed><subtype>shot</subtype><player1>25421</player1><sortorder>0</sortorder><team>8586</team><n>244</n><type>shotoff</type><id>548737</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>317</event_incident_typefk><elapsed>13</elapsed><subtype>deflected</subtype><player1>127857</player1><sortorder>0</sortorder><team>8528</team><n>253</n><type>shotoff</type><id>548744</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>53</event_incident_typefk><elapsed>23</elapsed><subtype>volley</subtype><player1>25005</player1><sortorder>3</sortorder><team>8528</team><n>262</n><type>shotoff</type><id>548775</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>81</event_incident_typefk><elapsed>25</elapsed><subtype>direct_freekick</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>252</n><type>shotoff</type><id>548778</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>47</event_incident_typefk><elapsed>34</elapsed><subtype>header</subtype><player1>127857</player1><sortorder>0</sortorder><team>8528</team><n>258</n><type>shotoff</type><id>548833</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>9</event_incident_typefk><elapsed>41</elapsed><subtype>distance</subtype><player1>34182</player1><sortorder>1</sortorder><team>8586</team><n>267</n><type>shotoff</type><id>548893</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>81</event_incident_typefk><elapsed>83</elapsed><subtype>direct_freekick</subtype><player1>24890</player1><sortorder>1</sortorder><team>8528</team><n>324</n><type>shotoff</type><id>549211</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>47</event_incident_typefk><elapsed>86</elapsed><subtype>header</subtype><player1>127857</player1><sortorder>0</sortorder><team>8528</team><n>301</n><type>shotoff</type><id>549228</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>47</event_incident_typefk><elapsed>87</elapsed><subtype>header</subtype><player1>127857</player1><sortorder>0</sortorder><team>8528</team><n>316</n><type>shotoff</type><id>549239</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>47</event_incident_typefk><elapsed>87</elapsed><subtype>header</subtype><player1>34466</player1><sortorder>4</sortorder><team>8528</team><n>331</n><type>shotoff</type><id>549246</id></value></shotoff>'

xml2df = XML2DataFrame(shotoffxmlStr)
xml_dataframe = xml2df.process_data()

xml_dataframe

,elapsed,event_incident_typefk,id,n,player1,shotoff,sortorder,subtype,team,type
0,10,46,548737,244,25421,1,0,shot,8586,shotoff
1,13,317,548744,253,127857,1,0,deflected,8528,shotoff
2,23,53,548775,262,25005,1,3,volley,8528,shotoff
3,25,81,548778,252,24890,1,0,direct_freekick,8528,shotoff
4,34,47,548833,258,127857,1,0,header,8528,shotoff
5,41,9,548893,267,34182,1,1,distance,8586,shotoff
6,83,81,549211,324,24890,1,1,direct_freekick,8528,shotoff
7,86,47,549228,301,127857,1,0,header,8528,shotoff
8,87,47,549239,316,127857,1,0,header,8528,shotoff
9,87,47,549246,331,34466,1,4,header,8528,shotoff

In [7]:
cornerXmlStr = '<corner><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>2</elapsed><subtype>cross</subtype><player1>25421</player1><sortorder>1</sortorder><team>8586</team><n>240</n><type>corner</type><id>548723</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>5</elapsed><subtype>cross</subtype><player1>25421</player1><sortorder>0</sortorder><team>8586</team><n>247</n><type>corner</type><id>548729</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>13</elapsed><subtype>cross</subtype><player1>25421</player1><sortorder>1</sortorder><team>8586</team><n>234</n><type>corner</type><id>548745</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>330</event_incident_typefk><elapsed>16</elapsed><subtype>short</subtype><player1>25421</player1><sortorder>0</sortorder><team>8586</team><n>260</n><type>corner</type><id>548753</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>23</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>2</sortorder><team>8528</team><n>273</n><type>corner</type><id>548774</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>30</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>285</n><type>corner</type><id>548790</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>39</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>259</n><type>corner</type><id>548872</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>52</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>312</n><type>corner</type><id>549045</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>85</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>1</sortorder><team>8528</team><n>305</n><type>corner</type><id>549224</id></value><value><stats><corners>1</corners></stats><elapsed_plus>1</elapsed_plus><event_incident_typefk>329</event_incident_typefk><elapsed>90</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>2</sortorder><team>8528</team><n>322</n><type>corner</type><id>549270</id></value><value><stats><corners>1</corners></stats><elapsed_plus>4</elapsed_plus><event_incident_typefk>330</event_incident_typefk><elapsed>90</elapsed><subtype>short</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>325</n><type>corner</type><id>549297</id></value></corner>'

xml2df = XML2DataFrame(cornerXmlStr)
xml_dataframe = xml2df.process_data()

xml_dataframe

,corners,elapsed,elapsed_plus,event_incident_typefk,id,n,player1,sortorder,subtype,team,type
0,1,2,NaN,329,548723,240,25421,1,cross,8586,corner
1,1,5,NaN,329,548729,247,25421,0,cross,8586,corner
2,1,13,NaN,329,548745,234,25421,1,cross,8586,corner
3,1,16,NaN,330,548753,260,25421,0,short,8586,corner
4,1,23,NaN,329,548774,273,24890,2,cross,8528,corner
5,1,30,NaN,329,548790,285,24890,0,cross,8528,corner
6,1,39,NaN,329,548872,259,24890,0,cross,8528,corner
7,1,52,NaN,329,549045,312,24890,0,cross,8528,corner
8,1,85,NaN,329,549224,305,24890,1,cross,8528,corner
9,1,90,1,329,549270,322,24890,2,cross,8528,corner
10,1,90,4,330,549297,325,24890,0,short,8528,corner

In [8]:
crossingXml = '<cross><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>2</elapsed><subtype>cross</subtype><player1>25421</player1><sortorder>1</sortorder><team>8586</team><n>240</n><type>corner</type><id>548723</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>2</elapsed><subtype>cross</subtype><player1>46403</player1><sortorder>3</sortorder><team>8586</team><n>239</n><type>cross</type><id>548725</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>5</elapsed><subtype>cross</subtype><player1>25421</player1><sortorder>0</sortorder><team>8586</team><n>247</n><type>corner</type><id>548729</id></value><value><event_incident_typefk>123</event_incident_typefk><elapsed>11</elapsed><subtype>cross</subtype><sortorder>2</sortorder><team>8528</team><n>14</n><type>throwin</type><id>548741</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>13</elapsed><subtype>cross</subtype><player1>25421</player1><sortorder>1</sortorder><team>8586</team><n>234</n><type>corner</type><id>548745</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>13</elapsed><subtype>cross</subtype><player1>25150</player1><sortorder>3</sortorder><team>8528</team><n>269</n><type>cross</type><id>548747</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>16</elapsed><subtype>cross</subtype><player1>25421</player1><sortorder>1</sortorder><team>8586</team><n>237</n><type>cross</type><id>548754</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>23</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>2</sortorder><team>8528</team><n>273</n><type>corner</type><id>548774</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>30</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>285</n><type>corner</type><id>548790</id></value><value><event_incident_typefk>123</event_incident_typefk><elapsed>35</elapsed><subtype>cross</subtype><sortorder>1</sortorder><team>8528</team><n>80</n><type>throwin</type><id>548846</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>38</elapsed><subtype>cross</subtype><player1>127857</player1><sortorder>0</sortorder><team>8528</team><n>311</n><type>cross</type><id>548865</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>39</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>259</n><type>corner</type><id>548872</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>40</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>291</n><type>cross</type><id>548877</id></value><value><event_incident_typefk>123</event_incident_typefk><elapsed>43</elapsed><subtype>cross</subtype><sortorder>1</sortorder><team>8528</team><n>100</n><type>throwin</type><id>548908</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>44</elapsed><subtype>cross</subtype><player1>97988</player1><sortorder>0</sortorder><team>8528</team><n>264</n><type>cross</type><id>548914</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>44</elapsed><subtype>cross</subtype><player1>24230</player1><sortorder>2</sortorder><team>8528</team><n>286</n><type>cross</type><id>548916</id></value><value><stats><crosses>1</crosses></stats><elapsed_plus>1</elapsed_plus><event_incident_typefk>7</event_incident_typefk><elapsed>45</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>5</sortorder><team>8528</team><n>290</n><type>cross</type><id>548944</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>47</elapsed><subtype>cross</subtype><player1>97988</player1><sortorder>0</sortorder><team>8528</team><n>289</n><type>cross</type><id>549014</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>52</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>0</sortorder><team>8528</team><n>312</n><type>corner</type><id>549045</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>54</elapsed><subtype>cross</subtype><player1>31921</player1><sortorder>0</sortorder><team>8586</team><n>299</n><type>cross</type><id>549058</id></value><value><event_incident_typefk>123</event_incident_typefk><elapsed>59</elapsed><subtype>cross</subtype><sortorder>5</sortorder><team>8586</team><n>149</n><type>throwin</type><id>549109</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>61</elapsed><subtype>cross</subtype><player1>34987</player1><sortorder>0</sortorder><team>8528</team><n>300</n><type>cross</type><id>549123</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>61</elapsed><subtype>cross</subtype><player1>35327</player1><sortorder>2</sortorder><team>8528</team><n>329</n><type>cross</type><id>549125</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>62</elapsed><subtype>cross</subtype><player1>35327</player1><sortorder>0</sortorder><team>8528</team><n>330</n><type>cross</type><id>549130</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>63</elapsed><subtype>cross</subtype><player1>31921</player1><sortorder>0</sortorder><team>8586</team><n>320</n><type>cross</type><id>549132</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>67</elapsed><subtype>cross</subtype><player1>35327</player1><sortorder>0</sortorder><team>8528</team><n>265</n><type>cross</type><id>549142</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>73</elapsed><subtype>cross</subtype><player1>35327</player1><sortorder>2</sortorder><team>8528</team><n>279</n><type>cross</type><id>549163</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>74</elapsed><subtype>cross</subtype><player1>31921</player1><sortorder>1</sortorder><team>8586</team><n>304</n><type>cross</type><id>549167</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><elapsed>85</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>1</sortorder><team>8528</team><n>305</n><type>corner</type><id>549224</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>86</elapsed><subtype>cross</subtype><player1>35327</player1><sortorder>2</sortorder><team>8528</team><n>315</n><type>cross</type><id>549238</id></value><value><stats><crosses>1</crosses></stats><event_incident_typefk>7</event_incident_typefk><elapsed>90</elapsed><subtype>cross</subtype><player1>35327</player1><sortorder>0</sortorder><team>8528</team><n>307</n><type>cross</type><id>549265</id></value><value><stats><corners>1</corners></stats><elapsed_plus>1</elapsed_plus><event_incident_typefk>329</event_incident_typefk><elapsed>90</elapsed><subtype>cross</subtype><player1>24890</player1><sortorder>2</sortorder><team>8528</team><n>322</n><type>corner</type><id>549270</id></value></cross>'

xml2df = XML2DataFrame(crossingXml)
xml_dataframe = xml2df.process_data()

xml_dataframe

,corners,crosses,elapsed,elapsed_plus,event_incident_typefk,id,n,player1,sortorder,subtype,team,type
0,1,NaN,2,NaN,329,548723,240,25421,1,cross,8586,corner
1,NaN,1,2,NaN,7,548725,239,46403,3,cross,8586,cross
2,1,NaN,5,NaN,329,548729,247,25421,0,cross,8586,corner
3,NaN,NaN,11,NaN,123,548741,14,NaN,2,cross,8528,throwin
4,1,NaN,13,NaN,329,548745,234,25421,1,cross,8586,corner
5,NaN,1,13,NaN,7,548747,269,25150,3,cross,8528,cross
6,NaN,1,16,NaN,7,548754,237,25421,1,cross,8586,cross
7,1,NaN,23,NaN,329,548774,273,24890,2,cross,8528,corner
8,1,NaN,30,NaN,329,548790,285,24890,0,cross,8528,corner
9,NaN,NaN,35,NaN,123,548846,80,NaN,1,cross,8528,throwin
10,NaN,1,38,NaN,7,548865,311,127857,0,cross,8528,cross
11,1,NaN,39,NaN,329,548872,259,24890,0,cross,8528,corner
12,NaN,1,40,NaN,7,548877,291,24890,0,cross,8528,cross
13,NaN,NaN,43,NaN,123,548908,100,NaN,1,cross,8528,throwin
14,NaN,1,44,NaN,7,548914,264,97988,0,cross,8528,cross
15,NaN,1,44,NaN,7,548916,286,24230,2,cross,8528,cross
16,NaN,1,45,1,7,548944,290,24890,5,cross,8528,cross
17,NaN,1,47,NaN,7,549014,289,97988,0,cross,8528,cross
18,1,NaN,52,NaN,329,549045,312,24890,0,cross,8528,corner
19,NaN,1,54,NaN,7,549058,299,31921,0,cross,8586,cross
20,NaN,NaN,59,NaN,123,549109,149,NaN,5,cross,8586,throwin
21,NaN,1,61,NaN,7,549123,300,34987,0,cross,8528,cross
22,NaN,1,61,NaN,7,549125,329,35327,2,cross,8528,cross
23,NaN,1,62,NaN,7,549130,330,35327,0,cross,8528,cross
24,NaN,1,63,NaN,7,549132,320,31921,0,cross,8586,cross
25,NaN,1,67,NaN,7,549142,265,35327,0,cross,8528,cross
26,NaN,1,73,NaN,7,549163,279,35327,2,cross,8528,cross
27,NaN,1,74,NaN,7,549167,304,31921,1,cross,8586,cross
28,1,NaN,85,NaN,329,549224,305,24890,1,cross,8528,corner
29,NaN,1,86,NaN,7,549238,315,35327,2,cross,8528,cross
30,NaN,1,90,NaN,7,549265,307,35327,0,cross,8528,cross
31,1,NaN,90,1,329,549270,322,24890,2,cross,8528,corner

In [14]:
possXmlStr = '<possession><value><comment>63</comment><event_incident_typefk>352</event_incident_typefk><elapsed>13</elapsed><subtype>possession</subtype><sortorder>0</sortorder><awaypos>37</awaypos><homepos>63</homepos><n>25</n><type>special</type><id>533700</id></value><value><comment>58</comment><event_incident_typefk>352</event_incident_typefk><elapsed>26</elapsed><subtype>possession</subtype><sortorder>1</sortorder><awaypos>42</awaypos><homepos>58</homepos><n>47</n><type>special</type><id>533806</id></value><value><comment>48</comment><elapsed_plus>1</elapsed_plus><event_incident_typefk>352</event_incident_typefk><elapsed>45</elapsed><subtype>possession</subtype><sortorder>3</sortorder><awaypos>52</awaypos><homepos>48</homepos><n>108</n><type>special</type><id>534014</id></value><value><comment>61</comment><event_incident_typefk>352</event_incident_typefk><elapsed>61</elapsed><subtype>possession</subtype><sortorder>0</sortorder><awaypos>39</awaypos><homepos>61</homepos><n>144</n><type>special</type><id>534155</id></value><value><comment>60</comment><event_incident_typefk>352</event_incident_typefk><elapsed>82</elapsed><subtype>possession</subtype><sortorder>0</sortorder><awaypos>40</awaypos><homepos>60</homepos><n>179</n><type>special</type><id>534322</id></value></possession>'

xml2df = XML2DataFrame(possXmlStr)
xml_dataframe = xml2df.process_data()

xml_dataframe

,awaypos,comment,elapsed,elapsed_plus,event_incident_typefk,homepos,id,n,sortorder,subtype,type
0,37,63,13,NaN,352,63,533700,25,0,possession,special
1,42,58,26,NaN,352,58,533806,47,1,possession,special
2,52,48,45,1,352,48,534014,108,3,possession,special
3,39,61,61,NaN,352,61,534155,144,0,possession,special
4,40,60,82,NaN,352,60,534322,179,0,possession,special