### Dummy Variables

You saw in the earlier notebook that you weren't able to directly add a categorical variable to your multiple linear regression model.  In this notebook, you will get some practice adding dummy variables to your models and interpreting the output.

Let's start by reading in the necessary libraries and data.

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm;
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./house_prices.csv')
df.head()

   house_id neighborhood  area  bedrooms  bathrooms      style    price
0      1112            B  1188         3          2      ranch   598291
1       491            B  3512         5          3  victorian  1744259
2      5952            B  1134         3          2      ranch   571669
3      3525            A  1940         4          2      ranch   493675
4      5108            B  2208         6          4  victorian  1101539

`1.` Use the [pd.get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) documentation to assist you with obtaining dummy variables for the **neighborhood** column.  Then use [join](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html) to add the dummy variables to your dataframe, **df**, and store the joined results in **df_new**.

Fit a linear model using **all three levels** of **neighborhood** neighborhood to predict the price. Don't forget an intercept.

Use your results to answer quiz 1 below.

In [2]:
df_dummies = pd.get_dummies(df.neighborhood)

      A  B  C
0     0  1  0
1     0  1  0
2     0  1  0
3     1  0  0
4     0  1  0
5     0  0  1
6     0  1  0
7     0  0  1
8     1  0  0
9     1  0  0
10    1  0  0
11    1  0  0
12    1  0  0
13    0  1  0
14    1  0  0
15    1  0  0
16    0  0  1
17    1  0  0
18    1  0  0
19    0  1  0
20    0  0  1
21    0  1  0
22    0  1  0
23    0  0  1
24    0  1  0
25    0  1  0
26    0  0  1
27    1  0  0
28    0  1  0
29    1  0  0
...  .. .. ..
5998  0  1  0
5999  0  0  1
6000  1  0  0
6001  0  0  1
6002  0  1  0
6003  1  0  0
6004  0  1  0
6005  0  0  1
6006  0  1  0
6007  1  0  0
6008  0  0  1
6009  1  0  0
6010  0  1  0
6011  1  0  0
6012  0  0  1
6013  0  0  1
6014  0  0  1
6015  0  0  1
6016  1  0  0
6017  0  0  1
6018  0  1  0
6019  1  0  0
6020  1  0  0
6021  0  0  1
6022  0  0  1
6023  0  1  0
6024  0  0  1
6025  0  1  0
6026  0  0  1
6027  0  0  1

[6028 rows x 3 columns]

`2.`  Now, fit an appropriate linear model for using **neighborhood** to predict the price of a home. Use **neighborhood A** as your baseline.  Use your resulting model to answer the questions in Quiz 2 and Quiz 3 below.

`3.` Run the two cells below to look at the home prices for the **A** and **C** neighborhoods.  Add neighborhood **B**.  This creates a glimpse into the differences that you found in the previous linear model.

In [ ]:
plt.hist(df_new.query("C == 1")['price'], alpha = 0.3, label = 'C');
plt.hist(df_new.query("A == 1")['price'], alpha = 0.3, label = 'A');

plt.legend();

`4.` Now, add dummy variables for the **style** of house, as well as **neighborhood**.  Use **ranch** as the baseline for the **style**.  Additionally, add **bathrooms** and **bedrooms** to your linear model.  Don't forget an intercept.  Use the results of your linear model to answer the last two questions below. **Home pricess are measured in dollars, and this dataset is not real.**

To minimize scrolling, it might be useful to open another browser window to this concept to answer the quiz questions.